---
import "../styles/global.css";
import ArrowUpRight from "../components/icons/arrow-up-right.astro";

const projects = [
  {
    name: "Pulse",
    description:
      "A minimalistic metronome for music practice.",
    url: "https://pulse.franguerrero.dev",
  },
  {
    name: "Bookmarks",
    description:
      "A personal space for saving, organizing, and retrieving web links.",
    url: "https://bookmarks.franguerrero.dev",
  },
  {
    name: "Stefanos",
    description: "Product catalog for Stefanos Leather.",
    url: "https://www.stefanosleather.com/",
  },
  {
    name: "Quanticom",
    description: "Website for a digital marketing agency.",
    url: "https://quanticom.com.py/",
  },
  {
    name: "Brasa",
    description: "Landing page for an Argentinian agency.",
    url: "https://brasa.agency/",
  },
];

const links = [
  {
    name: "Twitter",
    url: "https://x.com/frnguerrero",
  },
  {
    name: "Email",
    url: "mailto:francisco.guerrero.dev@gmail.com",
  },
  {
    name: "GitHub",
    url: "https://github.com/efeguerrero",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/juan-francisco-guerrero-16143849/",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="canonincal" href="https://franguerrero.dev">
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Developer based in Buenos Aires, Argentina."
    />
    <meta property="og:site_name" content="Francisco Guerrero" />
    <meta property="og:title" content="Francisco Guerrero" />
    <meta
      property="og:image"
      content="https://franguerrero.dev/og/og.png"
    />
    <meta property="og:url" content="https://franguerrero.dev" />
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@frnguerrero" />
    <meta name="twitter:creator" content="@frnguerrero">
    <meta name="twitter:title" content="Francisco Guerrero" />
    <meta name="twitter:description" content="Developer based in Buenos Aires, Argentina." />
    <meta name="twitter:image" content="https://franguerrero.dev/og/og.png" />
    <!-- Font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Francisco Guerrero</title>
        <meta
      name="description"
      content="Developer based in Buenos Aires, Argentina."
    />
    <!-- Analytics -->
    <script defer src="https://cloud.umami.is/script.js" data-website-id="6d850b59-1691-428c-89ae-13854b49c461"></script>
  </head>
  <body class="selection:bg-zinc-800">
    <div class="min-h-svh">
      <main class="mx-auto max-w-2xl px-4 pb-24 pt-12 sm:pb-24 sm:pt-24">
        <section class="mb-16">
          <h1
            style="animation-delay:calc(1 * var(--base-animation-delay))"
            class="animate-text-fade-in mb-8 text-lg font-semibold text-zinc-100"
          >
            Francisco Guerrero
          </h1>
          <p
            style="animation-delay:calc(2 * var(--base-animation-delay))"
            class="text-zinc-400 animate-text-fade-in leading-relaxed"
          >
            I'm a web developer based in Buenos Aires, Argentina.
            Currently working as a Frontend Engineer at <span
              ><a
              data-umami-event="Sidetool link"
                class="underlnie text-zinc-200 underline decoration-zinc-600 underline-offset-4 sm:hover:decoration-zinc-400"
                target="_blank"
                href="https://www.modo.com.ar/">MODO</a
              ></span
            >.
          </p>
          <p
            style="animation-delay:calc(3 * var(--base-animation-delay))"
            class="mt-6 text-zinc-400 animate-text-fade-in"
          >
            Passionate about coding, building and music.
          </p>
        </section>

        <section class="mb-16">
          <h2
            style="animation-delay:calc(4 * var(--base-animation-delay))"
            class="mb-8 text-lg font-semibold text-zinc-100 animate-text-fade-in"
          >
            Projects
          </h2>
          <ul class="space-y-6">
            {
              projects.map((project,index) => (
                <li
                  style=`animation-delay:calc(${index + 6} * var(--base-animation-delay))`
                  class="space-y-1 animate-text-fade-in"
                >
                  <a
                    data-umami-event={`${project.name} link clicked`}
                    target="_blank"
                    href={project.url}
                    class="w-fit group flex items-center font-medium text-zinc-200 underline decoration-zinc-600 underline-offset-4 sm:hover:decoration-zinc-400"
                  >
                    {project.name}
                    <span class="ml-1 text-zinc-400 sm:group-hover:text-zinc-200">
                      <ArrowUpRight />
                    </span>
                  </a>
                  <p class="text-sm leading-relaxed text-zinc-400">
                    {project.description}
                  </p>
                </li>
              ))
            }
          </ul>
        </section>
        <section>
          <h2 style="animation-delay:calc(10 * var(--base-animation-delay))" class="mb-6 text-lg font-semibold text-zinc-100 animate-text-fade-in">
            Let's get in touch
          </h2>
          <div class="flex flex-wrap gap-x-8 gap-y-3">
            {
              links.map((link) => (
                <a
                data-umami-event={`${link.name} social clicked`}
                style="animation-delay:calc(11 * var(--base-animation-delay))"
                  target="_blank"
                  href={link.url}
                  class="flex items-center text-zinc-400 sm:hover:text-zinc-100 animate-text-fade-in"
                >
                  <p class="underline decoration-zinc-600 underline-offset-4 sm:hover:decoration-zinc-400">
                    {link.name}
                  </p>
                </a>
              ))
            }
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
